@tailwind base;
@tailwind components;
@tailwind utilities;

.drawer-side a.active {
  color: white !important;
}

.swal2-shown {
  padding-right: 0px !important;
}

.scrolled {
  background-color:  rgb(43, 52, 64);
  transition:  0.3s ease-out;
}
